*~
.classpath
.project
target
.settings
.DS_Store
.faces-config.xml.jsfdia
MANIFEST.MF
.idea
*.iml
bin
.openshift
*/.gitignore
.gitkeep
/helloworld-jsp
.errai
.gwt
gwt-unitCache
kitchensink-errai/src/main/webapp/KitchenSink/
